[submodule "frontend"]
	path = frontend
	url = https://github.com/omkarh20/supersplat
[submodule "external/gaussian-splatting"]
	path = external/gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting
