fastapi
uvicorn[standard]
python-multipart
numpy
plyfile
trimesh
opencv-python
open3d

# ML and Segmentation (masker3.py)
torch
torchvision
torchaudio
ultralytics
segment-anything-hq
timm
git+https://github.com/openai/CLIP.git
scipy
